.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: rgb(243, 1, 1);
  border-bottom: 1px solid #ddd;
  padding: 30px 0;
}

.navbar__content {
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-size: 20px;
  font-weight: 700;
  color: #333;
}

.navbar__links {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-weight: 500;
}
